<div class="container">
<form #myForm="ngForm">

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Full Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="userObj.name" >
    
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" >Mobile No.</label>
    <input type="number" class="form-control" name="mobile" [(ngModel)]="userObj.mobile" >
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="userObj.email" >
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" autocomplete="on" [(ngModel)]="userObj.password">
  </div>
  
  <button type="submit" class="btn btn-primary" (click)="addUser(myForm.value)" *ngIf="!isEdit">Submit</button>
  <button type="submit" class="btn btn-info" *ngIf="isEdit" (click)="updateUser()">Update</button>
</form>
</div><br><br>


<table class="table">
  <thead>
    <tr>

      <th scope="col">Full Name</th>
      <th scope="col">Mobile No.</th>
      <th scope="col">E-mail</th>
      <th scope="col">Password</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
     
    </tr>
  </thead>
  <tbody>
   
<tr *ngFor="let user of allUser">
  <td>{{user.name}}</td>
  <td>{{user.mobile}}</td>
  <td>{{user.email}}</td>
  <td>{{user.password}}</td>
  <td><button type="submit" class="btn btn-warning" (click)="editUser(user)">Edit</button></td>
  <td><button type="submit" class="btn btn-danger" (click)="deleteUser(user)">Delete</button></td>
</tr>
    
  </tbody>
</table>